@import "{}/node_modules/bvbootstrap/_variables";
@import "{}/node_modules/bvbootstrap/_fonts";
// @import "{ericmcgregor:bvstrap}/bvbootstrap/_layout";
@import "styles/_Layout.scss";

$font-size-root:             16px;
$font-size-base: .85rem;
$font-size-lg:               1.1rem;
$font-size-sm:               .8rem;
$font-size-xs:               .75rem;

@import '{}/node_modules/bootstrap/scss/bootstrap.scss';

@import "{}/node_modules/bvbootstrap/_custom-styles.scss";



@font-face {
  font-family: 'bvglyphsMedium';
  src: url('/fonts/bvglyphs-webfont.eot');
  src: url('/fonts/bvglyphs-webfont.svg#bvglyphsMedium') format('svg'), url('/fonts/bvglyphs-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/bvglyphs-webfont.woff') format('woff'), url('/fonts/bvglyphs-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



// @import "styles/bv";
// @import "styles/_Layout.scss";
@import "styles/_bv.scss";
@import "styles/components/_ApplicationHeader.scss";
@import "styles/components/_DetailHeader.scss";
@import "styles/components/_ReportHeader.scss";
@import "styles/components/_PortalNav.scss";
@import "styles/components/_PageHeader.scss";
@import "reports/_Reports.scss";


.data-table-header {
  display:flex;
  padding:$spacer 0;
  justify-content: space-between;
  .right {
    align-self:center;
  }
}


g.c3-axis {
  // display:none;
  // opacity:0.2!important;
}

div.spark {
  height:20px;
  width:250px;
  overflow:hidden;
  svg {
    position:relative;
    left:-20px;
    > g {
      height:100px!important;
      .c3-zoom-rect {
      }
    }
  }
}
