@import "styles/bv";
// @import "styles/_Layout.scss";
@import "lib/base_components/styles/_ApplicationHeader.scss";
@import "lib/base_components/styles/_ReportHeader.scss";
@import "lib/base_components/styles/_PortalNav.scss";

.data-table-header {
  display:flex;
  padding:$spacer 0;
  justify-content: space-between;
  .right {
    align-self:center;
  }
}


g.c3-axis {
  display:none;
  // opacity:0.2!important;
}

div.spark {
  height:20px;
  width:250px;
  overflow:hidden;
  svg {
    position:relative;
    left:-20px;
    > g {
      height:100px!important;
      .c3-zoom-rect {
      }
    }
  }
}
