#portal_sidebar {
    &.collapsed{
      flex:0 0 60px;
      min-width:60px;
      max-width:60px;
      overflow:hidden;

      #portal_nav {
        width:60px;
      }
    }
  &.collapsed {
    #portal_nav {
      .bordered-icon {
        display:block;
        height:30px;
        width:30px;
        border:1px solid rgba(255,255,255,0.2);
        background:rgba(255,255,255,0.1);
        margin-left:auto;
        margin-right:auto;
        margin-bottom:10px;
        &:hover {
          border:1px solid rgba(255,255,255,0.5);
          background:rgba(255,255,255,0.2);
        }
      }
    }
  }
}

#portal_nav {
  .brand-icon {
    text-align:center!important;
    height:20px!important;
  }
  #global-content-nav.list-group {
    .list-group-item {
      padding: .65rem 1.15rem;
      font-size: $font-size-sm;
    }
    .list-group-item.dropdown-toggle  {
      &::after {
        display:none;
      }
    }
    .divider {
      border-top:1px solid $bvNavy80;
      margin:$spacer $spacer/2;
    }
  }
  .fa {
    display:block!important;
  }
  #global_brand {
    @extend .p-a-1;
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    a {
      color:$bvNavy10;
      flex:0!important;
      text-align:left!important;
    }

    a.brand-icon {
      @extend .color;
      @extend .green-white;
      display:flex;
      align-items:center;
      margin-left:5px;

      &:after, &:before {
        position:relative;
        top:2px;
        margin-top:2px;
      }
    }
  }

}
