@import "{ericmcgregor:bvstrap}/bvbootstrap/_variables";
@import "{ericmcgregor:bvstrap}/bvbootstrap/_fonts";
// @import "{ericmcgregor:bvstrap}/bvbootstrap/_layout";
@import "_Layout.scss";

$font-size-root:             16px;
$font-size-base: .85rem;
$font-size-lg:               1.1rem;
$font-size-sm:               .8rem;
$font-size-xs:               .75rem;

@import "{ericmcgregor:bvstrap}/_bootstrap.scss";

@import "{ericmcgregor:bvstrap}/bvbootstrap/_custom-styles.scss";




.print-bv-report {
  display:none!important;
}

body#print {
  overflow:inherit!important;
  display:block!important;

  .print-bv-report {
    display:block!important;
    position:absolute;
    top:20px;
    right:20px;
  }
  #application_header,
  .page-header-location,
  .task-nav-container,
  .tab-content div.page-header:first-of-type {
    display:none;
  }

  >#react-root {
    overflow:inherit!important;
    display:block!important;
  }
  #portal_container {
    display:block!important;
    height:auto!important;
    overflow:auto!important;
    #portal_sidebar {
      display:none!important;
    }
    #application_container {
      display:block!important;
      #task_container {
          height:auto!important;
          overflow:auto!important;
        #task_content {
          height:auto!important;
          >.scrollable {
            // overflow:auto!important;
            // height:auto!important;
          }

        }
      }
    }
  }


}
