.box {
  border:1px solid black;
  height:300px;
}

.colcontainer {
  display:flex;
  flex-direction:row;
}
.col1 {
  flex:1 0 0;
}

.col2 {
  flex:0 1 380px!important;
  min-width:380px;
  max-width:380px;
  padding:0 0 0 40px;
}

.col3 {
  flex:0 1 220px!important;
  min-width:220px;
  max-width:220px;
  padding:0 40px 0 0;
}

.dropdown-menu.static {
  display:block;
  position:relative;
  width:auto!important;
  border:0!important;
}
