  svg {

    .c3-axis-x > path.domain {
      // visibility: hidden;
    }

    g.c3-axis {

      text {
        fill:$text-muted!important;
        // font-size:18px;
      }
      path.domain,
      .tick > line {
        stroke:$text-muted!important;
        opacity:0.3;
      }

    }
    .c3-axis.c3-axis-x {}

  }
