.graph-container {
  position:relative;
  border:1px solid #d2d2d2;
  height:150px;
  overflow:hidden;
  .heading {
    position:absolute;
    top:10px;
    left:0;
    text-align:center;
    text-transform:uppercase;
    font-size:.8rem;
    width:100%;
    color:#d2d2d2;
  }
}
